.card-container{
    display: flex;
    border-radius: 18px;
    background-color: aqua;
    width: 360px;
    height:80px;
    padding: auto;
    margin-left: 420px;
    margin-right: 420px;
    padding: 30px;
    margin-top: 20px;
    list-style-type: none;
}
.name-container{
    color:blueviolet;
    display: inline;
    margin-left: 20px;
    float: right;
}
.avatar{
    border-radius: 24px;
    width:50px;
    height: 70px;
    float: left;
    margin-top: 10px;
}
.role-container{
    color:black;
    display:block;
    margin-left: 30px;
    font-size: 15px;
    font-family: Roboto;
}